<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/bootwatch/dist/paper/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="src/css/style.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-12 sisi-kiri">
				<div class="row">
					<div class="col-md-10 welcome-message col-md-offset-1 margin-from-top">
					<img src="src/img/icon/cc.png" class="gambar">
						<h1 class="welcome-message-h1">Welcome to<strong class="cyber"> Cyber</strong><strong class="click">Click</strong></h1>
						<p class="paragraf">CyberClick adalah pelaku jasa yang bergerak dibidang Website Development, Design Grafis, Design Arcitektur dan lain sebagainya. Kami memulai sejak tahun 2014 dan sudah lebih 40 situs website ditangani, berbagai macam jenis website sudah kami buat dalam memenuhi permintaan customer</p>
						<p class="paragraf">CyberClick menerima jasa pembuatan Website, antara lain Website Company Profile ( Sekolah, Organisasi, Perusahaan, UKM, dll. ), Corporate Website, Brand Building Website (Branding Website), Website Simple Online Shop, Katalog/Portfolio Online, Website Artikel, Website Promosi Usaha, Desain (Logo, Banner, Kaos, dll).</p>
						<a href="view/order.html" class="btn margin-10px btn-accent">Order</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-8 col-xs-12 sisi-kanan">
				<p class="lead kanan">Login to You Account</p>
				 	<div class="form-group">
				 		<div class="col-lg-10 col-md-offset-1">
				 			<input class="form-control" id="inputEmail" placeholder="Email" type="text">
				 		</div>
				 	</div>
				 	<div class="form-group">
				 		<div class="col-lg-10 col-md-offset-1">
				 			<input class="form-control" id="inputPassword" placeholder="Password" type="password">
				 			<br>
				 			<div class="g-recaptcha" data-sitekey="6Leh8gkUAAAAAIN5xsukHgUM9rz_aLi244AIOx5p"></div>
				 			<div class="checkbox">
				 				<label>
				 					<input type="checkbox"> Remember me
				 				</label>
				 				<br>
				 				<a href="" class="btn margin-10px btn-accent-2">Login</a>
				 			</div>
				 		</div>
				 	</div>
			</div>
		</div>
	</div>
</body>
	<<script src='https://www.google.com/recaptcha/api.js' async></script>

</html>