<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/bootwatch/dist/paper/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="src/css/style.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script> 
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="cyber">Cyber</span><span class="click">click</span></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="form-creat">
	<div class="container">
		<div class="row order">
			<div class="col-md-6">
				<blockquote>			
					<h3>Syarat dan Ketentuan Pembuatan</h3S>
				</blockquote>
				<ol>
					<li>Isilah nama Instansi atau Perusahaan Anda pada Form disamping dengan lengkap</li>
					<li>Masukkan Email dari Instansi, Perusahaan atau Perorangan yang mengurus order pembuatan website</li>
					<li>Untuk alamat harus lengkap sampai dengan kode pos yang ada</li>
					<li>Pilihlah jenis website yang Anda ingin buat, contoh keterangannya sebagai berikut :
            <ul>
							<li class="sub-judul" data-toggle="modal" data-target="#myModal">Company Profile ( Sekolah, Organisasi, Perusahaan, UKM, dll. )</li>
                  <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- konten modal-->
                      <div class="modal-content">
                        <!-- heading modal -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Company Profile</h4>
                          </div>
                          <!-- body modal -->
                          <div class="modal-body">
                               <p>Company profile biasanya berupa website sederhana untuk menampilkan profil dan produk atau jasa serta portfolio sebuah perusahaan. Website jenis ini hanya untuk memperkenalkan profil perusahaan meskipun juga dapat menjadi alat promosi jika dikelola dengan benar.</p>
                          </div>
                      </div>
                    </div>
                  </div>
                  <li class="sub-judul" data-toggle="modal" data-target="#myModal2">Corporate Website</li>
                  <div id="myModal2" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- konten modal-->
                      <div class="modal-content">
                        <!-- heading modal -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Corporate Websiteile</h4>
                          </div>
                          <!-- body modal -->
                          <div class="modal-body">
                                <p>Berbeda dengan company profile, Corporate Website biasanya lebih kompleks atau bisa juga disebut Company Web Portal. Website ini berisi informasi lengkap dari latar belakang hingga kegiatan-kegiatan suatu perusahaan, organisasi atau yayasan sosial baik yang bersifat profitable ataupun non-profit.</p>
                          </div>
                          <!-- footer modal -->
                      </div>
                    </div>
                  </div>
                  <li class="sub-judul" data-toggle="modal" data-target="#myModal3">Brand Building Website (Branding Website)</li>
                  <div id="myModal3" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <!-- heading modal -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Brand Building Website (Branding Website)</h4>
                          </div>
                          <!-- body modal -->
                          <div class="modal-body">
                               <p>Brand Building Website dibuat untuk memperkenalkan serta membangun image sebuah brand. Yang paling menonjol dari website seperti ini adalah konsep untuk menyampaikan pesan sesuai dengan image yang akan dibangun.</p>
                          </div>
                          <!-- footer modal -->
                      </div>
                    </div>
                  </div>
                  <li class="sub-judul" data-toggle="modal" data-target="#myModal4">Website Simple Online Shop</li>
                  <div id="myModal4" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- konten modal-->
                      <div class="modal-content">
                        <!-- heading modal -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Website Simple Online Shop</h4>
                          </div>
                          <!-- body modal -->
                          <div class="modal-body">
                              <p>Online store atau toko online sudah jelas peruntukannya adalah untuk menjual barang secara online. Fitur-fitur utama online store adalah katalog produk dengan informasi yang lengkap serta shopping cart, yaitu fitur untuk pengunjung untuk melakukan pemesanan produk secara online.</p>
                          </div>
                      </div>
                    </div>
                  </div>
                  <li class="sub-judul" data-toggle="modal" data-target="#myModal5">Katalog/Portfolio Online</li>
                  <div id="myModal5" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- konten modal-->
                      <div class="modal-content">
                        <!-- heading modal -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Katalog/Portfolio Online</h4>
                          </div>
                          <!-- body modal -->
                          <div class="modal-body">
                              <p>Katalog/portfolio online hampir mirip dengan online store, hanya jenis website ini lebih mengutamakan katalog atau portfolio dengan informasi lengkap bagi pengunjung tanpa ada fitur transaksi online.</p>
                          </div>
                      </div>
                    </div>
                  </div>
                  <li class="sub-judul" data-toggle="modal" data-target="#myModal6">Website Artikel/Blog</li>
                  <div id="myModal6" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- konten modal-->
                      <div class="modal-content">
                        <!-- heading modal -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Website Artikel/Blog</h4>
                          </div>
                          <!-- body modal -->
                          <div class="modal-body">
                             <p>Blog adalah sebuah website yang berbentuk seperti jurnal atau diari online. Biasa digunakan seorang blogger untuk mengeskpresikan pemikiran dan opini-opininya. Bisa juga artikel-artikel seputar kegiatan blogger.</p>
                          </div>
                      </div>
                    </div>
                  </div>  
                  <li class="sub-judul">Desain (Logo, Banner, Kaos, dll).</li>	
						</ul>
					</li>
					<li>Pilih spesifikasi website yang Anda inginkan, maksud dari item spesifikasi disamping adalah sebagai berikut :
						<ul>
							<li class="sub-judul" data-toggle="modal" data-target="#myModal6">Hanya Website</li>
                  <div id="myModal6" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- konten modal-->
                      <div class="modal-content">
                        <!-- heading modal -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Website Artikel/Blog</h4>
                          </div>
                          <!-- body modal -->
                          <div class="modal-body">
                             <p>Blog adalah sebuah website yang berbentuk seperti jurnal atau diari online. Biasa digunakan seorang blogger untuk mengeskpresikan pemikiran dan opini-opininya. Bisa juga artikel-artikel seputar kegiatan blogger.</p>ne.</p>
                          </div>
                      </div>
                    </div>
                  </div>  
							   <li class="sub-judul" data-toggle="modal" data-target="#myModal6">Website + SEO</li>
                  <div id="myModal6" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- konten modal-->
                      <div class="modal-content">
                        <!-- heading modal -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Website Artikel/Blog</h4>
                          </div>
                          <!-- body modal -->
                          <div class="modal-body">
                             <p>Blog adalah sebuah website yang berbentuk seperti jurnal atau diari online. Biasa digunakan seorang blogger untuk mengeskpresikan pemikiran dan opini-opininya. Bisa juga artikel-artikel seputar kegiatan blogger.</p>ne.</p>
                          </div>
                      </div>
                    </div>
                  </div>  
							   <li class="sub-judul" data-toggle="modal" data-target="#myModal6">Website + Google Adsense</li>
                  <div id="myModal6" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- konten modal-->
                      <div class="modal-content">
                        <!-- heading modal -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Website Artikel/Blog</h4>
                          </div>
                          <!-- body modal -->
                          <div class="modal-body">
                             <p>Blog adalah sebuah website yang berbentuk seperti jurnal atau diari online. Biasa digunakan seorang blogger untuk mengeskpresikan pemikiran dan opini-opininya. Bisa juga artikel-artikel seputar kegiatan blogger.</p>ne.</p>
                          </div>
                      </div>
                    </div>
                  </div>  
							<li class="sub-judul" data-toggle="modal" data-target="#myModal6">Website + SEO + Google Adsense</li>
                  <div id="myModal6" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- konten modal-->
                      <div class="modal-content">
                        <!-- heading modal -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Website Artikel/Blog</h4>
                          </div>
                          <!-- body modal -->
                          <div class="modal-body">
                             <p>Blog adalah sebuah website yang berbentuk seperti jurnal atau diari online. Biasa digunakan seorang blogger untuk mengeskpresikan pemikiran dan opini-opininya. Bisa juga artikel-artikel seputar kegiatan blogger.</p>ne.</p>
                          </div>
                      </div>
                    </div>
                  </div>  
						</ul>
					</li>
					<li>Periksa kembali apa yang sudah anda cantumkan lalu send, dengan otomatis permohonan order yang Anda lakukan akan masuk ke email kami dan dalam waktu 1 x 1jam kami akan berikan balasan jika Anda sudah lakukan langkah pertama dalam order pembuatan website setelah itu kami akan berikan Langkah selanjutnya. </li>

				</ol>
			</div>
		<div class="col-md-4 col-md-offset-1 form-order">
			<div class="panel panel-primary">
  				<div class="panel-heading">
   					<h3 class="panel-title">Isi Form Dibawah Ini</h3>
  				</div>
  					<div class="panel-body">
    					<form class="form-horizontal">
  							<fieldset>
    							<div class="form-group">
      								<label for="inputinstansi" class="col-lg-2 control-label">Nama</label>
      									<div class="col-lg-10">
        									<input class="form-control isi" id="inputintansi" type="text">
      									</div>
    							</div>
    							<div class="form-group">
      								<label for="inputEmail" class="col-lg-2 control-label">Email</label>
      									<div class="col-lg-10">
        									<input class="form-control isi" id="inputEmail" type="password">
        										<div class="checkbox">
          											<label>
            											<input type="checkbox"> Benar
          											</label>
        										</div>
      									</div>
    							</div>
    							<div class="form-group">
      								<label for="textArea" class="col-lg-2 control-label">Alamat</label>
      									<div class="col-lg-10">
        									<textarea class="form-control isi" rows="3" id="textArea"></textarea>
        										<span class="help-block">Isi Alamat Lengkap</span>
      									</div>
    							</div>
    							<div class="form-group">
      								<label class="col-lg-2 control-label">Jenis</label>
      									<div class="col-lg-10">
        									<div class="radio">
          										<label>
            										<input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">Company Profile

            									</label>
        									</div>
        									<div class="radio">
          										<label>
            										<input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">Corporate Website
            									</label>
            								</div>
            								<div class="radio">
          										<label>
            										<input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">Brand Building Website
            									</label>
            								</div>
            								<div class="radio">
          										<label>
            										<input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">Website Simple Online Shop
            									</label>
            								</div>
            								<div class="radio">
          										<label>
            										<input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">Katalog/Portofolio Online
            									</label>
            								</div>
            								<div class="radio">
          										<label>
            										<input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">Website Artikel
            									</label>
            								</div>
            								<div class="radio">
          										<label>
            										<input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">Website Promosi Usaha
            									</label>
            								</div>
            								<div class="radio">
          										<label>
            										<input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">Design
            									</label>
          									</div>
          								</div>
          						</div>
    							<div class="form-group">
      								<label for="select" class="col-lg-2 control-label">Spesifikasi</label>
      									<div class="col-lg-10">
        									<select class="form-control isi" id="select">
          									<option>1. Hanya Website</option>
          									<option>2. Website + SEO</option>
          									<option>3. Website + Google Adsense</option>
          									<option>4. Website + SEO + Google Adsense</option>
        									</select>
        									<br>
        								</div>
        						</div>
        						<div class="form-group">
        							<div class="col-lg-10 col-lg-offset-2">
        								<button type="reset" class="btn btn-default">Cancel</button>
        								<button type="submit" class="btn btn-primary">Send</button>
      								</div>
    							</div>
  							</fieldset>
						</form>
  					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>